p {
	font-family: arial;
	font-size: 15px;
	color: rgb(46, 196, 198);
	margin: 1.5%;
}

.interactions {
	display: flex;
	margin: 3%;
}

.like,
.share,
.comentar {
	display: flex;
	align-items: center;
	margin-right: 3%;
}

.like svg,
.share svg,
.comentar svg {
	display: flex;
	height: 26px;
	width: 26px;
}
