.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'inter';
	margin-top: 30px;
}

#ButtonSong,
#edit {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#writtenSong,
#newProfileImage {
	padding: 4%;
	margin-top: 2%;
	margin-bottom: 6%;
	width: 40%;
	border-radius: 30px;
}

.Accept {
	background-color: #2ec4b6;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	height: 40px;
	width: 120px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	margin-left: 6px;
}

.Cancel {
	background-color: rgba(46, 196, 182, 0.7);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	height: 40px;
	width: 120px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	margin-right: 6px;
}

.Accept:hover,
.Cancel:hover {
	background-color: #ffbf69;
}

.waveSong {
	background-color: white;
	padding: 20px;
	border-radius: 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	width: 60%;
	height: 40%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
}

.profileImgForm {
	background-color: white;
	padding: 20px;
	border-radius: 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	width: 50%;
	height: 30%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
}

.modalContainer,
#modalContainerProfileImg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial;
}

.post {
	background-color: #2ec4b6;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	height: 40px;
	width: 120px;
	transition: background-color 0.2s ease;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	color: #ff9f1c;
	font-size: 25px;
}

.close {
	margin-left: 90%;
	margin-top: 2%;
	right: 50px;
	cursor: pointer;
	font-family: Arial;
	color: #2ec4b6;
}

.profileimg {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profileimg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pin {
	height: 24px;
	width: 24px;
}

h1 {
	font-size: 24px;
	margin-bottom: 0;
	font-weight: 700;
	color: #1e1e1e;
}

.edit {
	background-color: transparent;
	border-width: 0;
	color: #ff9f1c;
	cursor: pointer;
	font-family: 'inter';
	font-size: 16px;
	margin-top: 0;
	font-weight: 500;
}

.fav_song {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 25px;
	color: rgb(46, 196, 182);
	cursor: pointer;
}

.name-following {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	font-family: 'Inter';
}

.name {
	margin: 5px;
	border: 2px solid rgba(30, 30, 30, 0.2);
	border-radius: 10px;
	height: 30px;
	width: 193px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #1e1e1e;
}

.following {
	margin: 5px;
	border: 2px solid rgba(30, 30, 30, 0.2);
	border-radius: 10px;
	height: 30px;
	width: 193px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #1e1e1e;
	cursor: pointer;
}

.followers {
	height: 55px;
	width: 400px;
	background-color: #2ec4b6;
	font-weight: 500;
	color: white;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	margin: 4px;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.playlist {
	height: 35px;
	width: 400px;
	background-color: #ff9f1c;
	font-weight: 500;
	color: white;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	margin: 4px;
	border: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	margin-top: 8px;
	cursor: pointer;
}

.todo {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'inter';
}

.h1Add {
	font-size: 24px;
	margin-bottom: 15px;
	color: #1e1e1e;
	font-weight: 700;
	font-family: 'Inter';
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.artist,
.title,
.coverImage {
	width: 20%;
	padding: 10px;
	margin: 4px;
	height: 12px;
	border: 2px solid #ccc;
	border-radius: 10px;
	font-size: 15px;
}

.create-song {
	display: flex;
	justify-content: center;
	align-items: center;
}

.artist:focus,
.title:focus,
.coverImage:focus {
	border-color: #ff9f1c;
	outline: none;
}

.save {
	padding: 10px 65px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #ff9f1c;
	color: white;
	cursor: pointer;
	transition: 0.3s;
	margin-left: 45%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.save:hover {
	background-color: #ffbf69;
}

.playlist:hover {
	background-color: #ffbf69;
}
.botones {
	display: flex;
	margin: 10px;
}
