.card {
	font-family: 'inter';
	background-color: rgb(237, 237, 237);
	width: 90%;
	height: 15%;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	display: flex;
	align-items: center;
	box-shadow: 30 10 20;
}

.artist {
	font-size: 12px;
	margin-top: 2px;
}

.title {
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}

.letters {
	margin-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
}

img {
	height: 40px;
	width: 40px;
	border-radius: 5px;
}

.imagen{
	justify-content: center;
}

