.card {
	font-family: 'inter';
	background-color: rgb(237, 237, 237);
	width: 95%;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	display: flex;
align-items: center;
}

.artist {
	font-size: 12px;
	margin-top: 2px;
}

.title {
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}

.letters {
	margin-left: 10px;
}

img {
	height: 50px;
	width: 50px;
	border-radius: 5px;
}

.imagen{
	justify-content: center;
}

p{
	margin-top: 0%;
	margin-bottom: 0%;
}