p {
	font-family: 'inter';
	font-size: 14px;
}
.image img {
	width: 30px;
	height: 30px; /* Ancho del contenedor */ /* Altura del contenedor */
	overflow: hidden; /* Oculta cualquier contenido que exceda los límites del contenedor */
	display: block; /* Asegura que la imagen se comporte como un bloque */
	border-radius: 50%; /* Hace que la imagen sea circular */
	margin: 10px;
}

.profile {
	display: flex;
	align-items: flex-start;
}

.background {
	width: 300px;
	height: 150px; /* Ancho del contenedor */ /* Altura del contenedor */
	overflow: hidden; /* Oculta cualquier contenido que exceda los límites del contenedor */
	border-radius: 40px;
	display: block; /* Asegura que la imagen se comporte como un bloque */
	margin: 20px;
}

.song {
	font-family: 'inter';
	font-weight: 500;
	font-size: 20px;
	width: 250px;
	align-items: flex-end;
}

.card {
	display: flex;
}

