p {
	font-family: 'inter';
	font-size: 14px;
	color: white;
}
.image img {
	width: 30px;
	height: 30px; /* Ancho del contenedor */ /* Altura del contenedor */
	overflow: hidden; /* Oculta cualquier contenido que exceda los límites del contenedor */
	display: block; /* Asegura que la imagen se comporte como un bloque */
	border-radius: 50%; /* Hace que la imagen sea circular */
	margin: 10px;
}

.image {
	display: flex;
}

.song {
	font-family: 'inter';
	font-weight: 400;
	font-size: 20px;
	width: 280px;
	align-items: flex-start;
	color: white;
	margin-left: 65px;
	margin-top: 0;
}

.card {
	width: 400px;
	height: 180px;
	border-radius: 20px;
	margin: 20px;
}

.todo {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	border-radius: 20px;
}

/* .card {
	overflow-x: auto;
	white-space: nowrap;
	display: inline-block;
} */

/* .background {
	width: 300px;
	height: 150px;
	// Ancho del contenedor Altura del contenedor
	overflow: hidden;
	// Oculta cualquier contenido que exceda los límites del contenedor
	border-radius: 40px;
	display: block;
	// Asegura que la imagen se comporte como un bloque
	margin: 20px;
} */
